body{
    margin:0px;
}
.container{
    display:flex;
}

/*Within 'container' div*/
.left{
    border: 1px solid #919199;
    width: 60vw;
    height: 100vh;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;

}
.right{
    border: 1px solid #919199;
    width: 40vw;
    height: 100vh;
    border-radius: 15px; 
    display:flex;
    flex-direction: column;
}

/*Within 'left' div*/
.header{
    border: 2px solid #2A2A2E;
    border-radius: 15px;
    margin: 2vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 10vh;
}
/* Div that holds the folders in it*/
.folders{
    border: 2px solid #2A2A2E;
    border-radius: 15px;
    margin: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 25vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}
/* Individual folders with 'folder' class */
.folder {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    text-align: left;
    width: 100%;
}
/* Folders with tasks assigned*/
.folder.active{
    background: rgb(51, 51, 51);
    color: white;
    border-color: #222;
}
.small-btn {
    display: inline-block;
    padding: 6px 8px;
    font-size: 0.85rem;
    border-radius: 8px;
    border: 1px solid #bbb;
    background: transparent;
    cursor: pointer;
}
.taskadd{
    position:relative;
    display: flex;
    flex-direction: column;
    border: 2px solid #2A2A2E;
    border-radius: 15px;
    margin: 2vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: 57vh;
    overflow-y: auto; /* For scrolling in task add instead of tasks overflowing onto homepage*/
    padding: 1rem;
}

.tasklist-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 1rem;
}

/* Hides Task Add screen */
.taskform-hidden {
    display: none;
}

/* Add Task button - Toggles Task Add screen */
.floating-plus {
    position: absolute;
    border-radius: 50%;
    border:none;
    /*background-color: #26FF88;*/
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}
/* Make Task Form Hidden by default */
.taskform-hidden {
  display: none;
}
/*Within 'right' div*/
.stats{
    border: 2px solid #919199;
    border-radius: 15px;
    margin: 2vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 9vh;
    display:flex;
}
.today{
    border: 2px solid #2A2A2E;
    border-radius: 15px;
    margin: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 48vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.upcoming{
    border: 2px solid #2A2A2E;
    border-radius: 15px;
    margin: 2vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    height: 35vh;
        overflow: hidden;
    display: flex;
    flex-direction: column;
}

.today-content, .upcoming-content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0.5rem;
}

/* Within 'stats' div*/
.statstoday{
    border: 1px solid #2A2A2E;
    border-radius: 15px;
    height: 9vh;
    width: 39.75vw;
    margin-right: 0.25vw;
    display: flex;
    flex-direction: column;
}

.total{
    border: 1px solid #919199;
    border-radius: 15px;
    height: 9vh;
    width: 29.5vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    display: flex;
    flex-direction: column;
}

.streak{
    border: 1px solid #2A2A2E;
    border-radius: 15px;
    height: 9vh;
    width: 29.75vw;
    margin-left: 0.25vw;
    display: flex;
    flex-direction: column;


}
/*Within 'total' div*/
.totalhours{
    border: 1px solid #2A2A2E;
    border-radius: 15px;
    height: 49.75vh;
    margin-bottom: 0.25vh;
    display: flex;
    vertical-align: middle;
}

.totaltasks{
    border: 1px solid #2A2A2E;
    height: 49.75vh;
    border-radius: 15px;
    margin-top: 0.25vh;
    display: flex;
    vertical-align: middle;
}

/*Within 'statstoday' div*/
.todayhours{
    border: 1px solid #2A2A2E;
    border-radius: 15px;
    height: 50vh;

}
.todaytasks {
    border: 1px solid #2A2A2E;
    border-radius: 15px;
    height: 50vh;
}

/*Within 'streak' div*/

#streakicon{
    text-align: center;
}

#streakstat{
    height: 50vh;
    text-align:center;
}

/*Icon Styling*/
.icon{
}

.smallicon{
}

/*Within 'totalhours' div*/
#hoursicon{
    text-align: center;

}

#totalhoursstat{
    text-align:center;
}

#tasksicon{
    text-align: center;

}

#totaltasksstat{
    text-align:center;
}

/* SUBJECT/FOLDER VIEW MODE 
Hides everything except for task view*/

.subject-mode .right,
.subject-mode .header,
.subject-mode .folders {
    display: none !important
}

.subject-mode .taskadd {
    width: 100%;
}

#subjectViewHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 10px;
}
#subjectViewHeader h2 {
    margin: 0;
    font-size: 1.1 rem;
}
#subjectViewHeader button {
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 8px;
}
.subject-mode .left {
    border: none !important;
    width: 95vw !important;
    height: 100vh !important;
    border-radius: 0 !important;

}

.subtasks-container {
    margin-left: 20px;
    margin-top: 10px;
}

.subtasks-container ul {
    list-style-type: disc;
    padding-left: 20px;
}